body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.slider-container {
  width: auto;
  margin: 1rem;
  height: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  background: gray;
  border-radius: 10px;
}

.image-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-slide {
  display: none;
}

.active-image {
  display: flex;
}

.slider-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  user-select: none;
  -webkit-user-select: none;
}

.right-control {
  cursor: pointer;
}

.left-control {
  cursor: pointer;
}

.radio-btn-nav {
  cursor: pointer;
}
